#contato{
	background:$background-primary;
	.title{
		margin-bottom: 48px;
	}
	.box-contato-form{
		.form-group{
			margin-bottom: 16px;
			label{
				font-size: 16px;
				font-weight: bold;
				color: $background-secondary;
				margin-bottom:8px;
			}
			input{
				height: 40px;
			}
			.form-control{
				border: none;
				border-radius: 0;
				background: #DFE0E5;
				padding: 8px 16px;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  font-size: 11px;
				  color: #C6C7CF;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  font-size: 11px;
				  color: #C6C7CF;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  font-size: 11px;
				  color: #C6C7CF;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  font-size: 11px;
				  color: #C6C7CF;
				}
			}
			textarea#formMenssagem{
				padding: 16px;
			}
		}
	}
	.box-contato{
		.info-contato{
		    margin-left: 80px;
		    margin-top: 18px;
		    .icons{
		    	a{
				margin-right: 16px;
				font-size: 40px;
				}
				#icon-facebook{
					color: #3B5998;
				}
				#icon-behance{
					color: #0B7EFF;
				}
				#icon-github{
					color: #56297C;
				}
				#icon-linkedin{
					color: #007AB5;
				}
		    }
		    .info{
		    	margin-top: 40px;
		    	.infos{
		    		display: flex;
		    		align-items: center;
		    		i{
		    			color:$background-secondary;
		    			margin: 16px 16px 0 0;
		    			font-size: 40px;
		    		}
		    		p{
		    			margin:0;
		    		}
		    	}
		    }
		    .fa-smile-o{
		    	margin-top: 24px;
				font-size: 100px;
				color:#F9BA48;
		    }
		}
	}
	
}