#habilidades{
	background-color: $background-primary;
	h1{
		margin-bottom: 48px;
	}
	.icones-habilidades{
		display: flex;
		flex-wrap: wrap;
		.item-icon{
			margin: 32px 32px 0 0;
			text-align: center;
			-webkit-transition:0.3s ease;
			-moz-transition: 0.3s ease;
			-o-transition:0.3s ease;
			-ms-transition: 0.3s ease;
			transition: 0.3s ease;
			-webkit-filter: saturate(0);
  			filter: saturate(0);
			i{
				font-size: 100px;
			}
			p{
				margin: 8px 0 0 0;
			}
			&:hover{
				-webkit-filter: saturate(100%);
  				filter: saturate(100%);
			}
		}

	}
}