@import "variables";

#servico{
	padding: 72px 0;
	.box-item{
		margin-top: 48px;
		.box-title{
			display: flex;
			align-items: flex-end;
			h4{
				font-size: 25px;
				font-weight: bold;
				color: $background-secondary;
				margin: 0 0 0 8px;
			}
		}
		p{
			margin-top: 24px;
		}
	}
}