#sobre{
	background-image: url(../images/bg-sobre.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 560px 100%;
	.content{
		p{
			margin: 48px 0 59px 0;
		}
	}

}